@{
    ViewData["Title"] = "Home Page";
}

<div class="row">
    <div class="col-lg-6">
        <div class="panel panel-default">
            <div class="panel-heading">
                <h1 class="panel-title">Camera photo</h1>
            </div>
            <div class="panel-body">
                <img src="~/camera/image" alt="" class="img-responsive" />
            </div>
        </div>
    </div>
</div>